<openbox_menu><menu id="desktop-app-menu" label="Applications" execute="/usr/bin/openbox-menu sparky-pi.menu" />
  <menu id="root-menu" label="Openbox 3">
    <item label="File Manager" icon='/usr/share/icons/Tela/scalable/apps/system-file-manager.svg'>
      <action name="Execute"><command>sparky-fileopen</command>
      </action>
    </item>
    <item label="Terminal" icon='/usr/share/icons/Tela/scalable/apps/xfce4-terminal.svg'>
      <action name="Execute"><command>x-terminal-emulator</command>
      </action>
    </item>
    <item label="Web Browser" icon='/usr/share/icons/Tela/scalable/apps/web-browser.svg'>
      <action name="Execute"><command>x-www-browser</command>
      </action>
    </item>
    <item label="Run command" icon='/usr/share/icons/Tela/scalable/apps/system-run.svg'>
      <action name="Execute"><command>gexec</command>
      </action>
    </item>
    <separator />
    <menu id="desktop-app-menu" />
    <separator />
    <menu id="settings" label="Settings">
      <item label="Panel" icon='/usr/share/icons/Tela/scalable/apps/tint2conf.svg'>
        <action name="Execute"><command>tint2conf</command>
        </action>
      </item>
      <item label="ObConf" icon='/usr/share/icons/Tela/scalable/apps/preferences-system.svg'>
        <action name="Execute"><command>obconf</command>
        </action>
      </item>
      <item label="Restart" icon='/usr/share/icons/Tela/scalable/apps/reload.svg'>
        <action name="Restart"/>
      </item>
    </menu>
    <separator/>
    <item label="Lock" icon='/usr/share/icons/Tela/scalable/apps/system-lock-screen.svg'>
      <action name="Execute"><command>xscreensaver-command -lock</command>
      </action>
    </item>
     <menu id="logout" label="Exit">
      <item label="Exit" icon='/usr/share/icons/Tela/scalable/apps/preferences-system-login.svg'>
        <action name="Execute"><command>openbox --exit</command>
        </action>
      </item>
      <item label="Reboot" icon='/usr/share/icons/Tela/scalable/apps/system-restart.svg'>
        <action name="Execute"><command>systemctl reboot</command>
        </action>
      </item>
      <item label="Power Off" icon='/usr/share/icons/Tela/scalable/apps/system-shutdown.svg'>
        <action name="Execute"><command>systemctl poweroff</command>
      </item>
    </menu>
</menu></openbox_menu>
